
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySerieLabel" data-translate="jhipsterProva1App.serie.home.createOrEditLabel">Create or edit a Serie</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.serie.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.serie.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jhipsterProva1App.serie.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                    ng-model="vm.serie.nombre"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jhipsterProva1App.serie.anoCreacion" for="field_anoCreacion">Ano Creacion</label>
                <div class="input-group">
                    <input id="field_anoCreacion" type="text" class="form-control" name="anoCreacion" uib-datepicker-popup="{{dateformat}}" ng-model="vm.serie.anoCreacion" is-open="vm.datePickerOpenStatus.anoCreacion"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('anoCreacion')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jhipsterProva1App.serie.descripcion" for="field_descripcion">Descripcion</label>
            <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                    ng-model="vm.serie.descripcion"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setFoto($file, vm.serie)" ngf-pattern="'image/*'">
            <label class="control-label" data-translate="jhipsterProva1App.serie.foto" for="field_foto">Foto</label>
            <div>
                <img data-ng-src="{{'data:' + vm.serie.fotoContentType + ';base64,' + vm.serie.foto}}" style="max-height: 100px;" ng-if="vm.serie.foto" alt="serie image"/>
                <div ng-if="vm.serie.foto" class="help-block clearfix">
                    <span class="pull-left">{{vm.serie.fotoContentType}}, {{vm.byteSize(vm.serie.foto)}}</span>
                    <button type="button" ng-click="vm.serie.foto=null;vm.serie.fotoContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setFoto($file, vm.serie)" accept="image/*" data-translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="foto" id="field_foto"
                    ng-model="vm.serie.foto"
                    />
            <input type="hidden" class="form-control" name="fotoContentType" id="field_fotoContentType"
                    ng-model="vm.serie.fotoContentType" />
        </div>

        <div class="form-group">
            <label data-translate="jhipsterProva1App.serie.productora" for="field_productora">Productora</label>
            <select class="form-control" id="field_productora" name="productora" ng-model="vm.serie.productora" ng-options="productora as productora.nombre for productora in vm.productoras track by productora.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="jhipsterProva1App.serie.actor" for="field_actor">Actor</label>
            <select class="form-control" id="field_actor" multiple name="actor" ng-model="vm.serie.actors" ng-options="actor as actor.nombre for actor in vm.actors track by actor.id"></select>
        </div>
        <div class="form-group">
            <label data-translate="jhipsterProva1App.serie.genero" for="field_genero">Genero</label>
            <select class="form-control" id="field_genero" multiple name="genero" ng-model="vm.serie.generos" ng-options="genero as genero.nombre for genero in vm.generos track by genero.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
