<div>
    <h2 data-translate="jhipsterProva1App.actor.home.title">Actors</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="actor.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="jhipsterProva1App.actor.home.createLabel">
                        Create new Actor
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="jhipsterProva1App.actor.nombre">Nombre</span></th>
                    <th><span data-translate="jhipsterProva1App.actor.apellido">Apellido</span></th>
                    <th><span data-translate="jhipsterProva1App.actor.anoNacimiento">Ano Nacimiento</span></th>
                    <th><span data-translate="jhipsterProva1App.actor.foto">Foto</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="actor in vm.actors track by actor.id">
                    <td><a ui-sref="actor-detail({id:actor.id})">{{actor.id}}</a></td>
                    <td>{{actor.nombre}}</td>
                    <td>{{actor.apellido}}</td>
                        <td>{{actor.anoNacimiento | date:'mediumDate'}}</td>
                    <td>
                        <a ng-if="actor.foto" ng-click="vm.openFile(actor.fotoContentType, actor.foto)">
                            <img data-ng-src="{{'data:' + actor.fotoContentType + ';base64,' + actor.foto}}" style="max-height: 30px;" alt="actor image"/>
                        </a>
                        <span ng-if="actor.foto">{{actor.fotoContentType}}, {{vm.byteSize(actor.foto)}}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="actor-detail({id:actor.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="actor.edit({id:actor.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="actor.delete({id:actor.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
