<div>
    <h2 data-translate="jhipsterProva1App.capitulo.home.title">Capitulos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="capitulo.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="jhipsterProva1App.capitulo.home.createLabel">
                        Create new Capitulo
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="jhipsterProva1App.capitulo.numero">Numero</span></th>
                    <th><span data-translate="jhipsterProva1App.capitulo.nombre">Nombre</span></th>
                    <th><span data-translate="jhipsterProva1App.capitulo.duracion">Duracion</span></th>
                    <th><span data-translate="jhipsterProva1App.capitulo.foto">Foto</span></th>
                    <th><span data-translate="jhipsterProva1App.capitulo.serie">Serie</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="capitulo in vm.capitulos track by capitulo.id">
                    <td><a ui-sref="capitulo-detail({id:capitulo.id})">{{capitulo.id}}</a></td>
                    <td>{{capitulo.numero}}</td>
                    <td>{{capitulo.nombre}}</td>
                    <td>{{capitulo.duracion}}</td>
                    <td>
                        <a ng-if="capitulo.foto" ng-click="vm.openFile(capitulo.fotoContentType, capitulo.foto)">
                            <img data-ng-src="{{'data:' + capitulo.fotoContentType + ';base64,' + capitulo.foto}}" style="max-height: 30px;" alt="capitulo image"/>
                        </a>
                        <span ng-if="capitulo.foto">{{capitulo.fotoContentType}}, {{vm.byteSize(capitulo.foto)}}</span>
                    </td>
                    <td>
                        <a ui-sref="serie-detail({id:capitulo.serie.id})">{{capitulo.serie.nombre}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="capitulo-detail({id:capitulo.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="capitulo.edit({id:capitulo.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="capitulo.delete({id:capitulo.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
