
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProductoraLabel" data-translate="jhipsterProva1App.productora.home.createOrEditLabel">Create or edit a Productora</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.productora.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.productora.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jhipsterProva1App.productora.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                    ng-model="vm.productora.nombre"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jhipsterProva1App.productora.pais" for="field_pais">Pais</label>
            <input type="text" class="form-control" name="pais" id="field_pais"
                    ng-model="vm.productora.pais"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setFoto($file, vm.productora)" ngf-pattern="'image/*'">
            <label class="control-label" data-translate="jhipsterProva1App.productora.foto" for="field_foto">Foto</label>
            <div>
                <img data-ng-src="{{'data:' + vm.productora.fotoContentType + ';base64,' + vm.productora.foto}}" style="max-height: 100px;" ng-if="vm.productora.foto" alt="productora image"/>
                <div ng-if="vm.productora.foto" class="help-block clearfix">
                    <span class="pull-left">{{vm.productora.fotoContentType}}, {{vm.byteSize(vm.productora.foto)}}</span>
                    <button type="button" ng-click="vm.productora.foto=null;vm.productora.fotoContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setFoto($file, vm.productora)" accept="image/*" data-translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="foto" id="field_foto"
                    ng-model="vm.productora.foto"
                    />
            <input type="hidden" class="form-control" name="fotoContentType" id="field_fotoContentType"
                    ng-model="vm.productora.fotoContentType" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
